*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.corinthia-bold, h1 {
    font-size: 50px;
    font-family: "Corinthia", cursive;
    font-weight: 700;
    font-style: normal;
}

body {
    background-image: url(/Imagens/Background\ loop\ 3.jpg);
    background-color: #bf9773;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#header-section {
    background-color: #e4ba8e67;
    padding: 8px;
    border-radius: 20px;
}

#header-section h1 {
    font-size: 100px;
}

#body-section {
    background-color: #e4ba8e67;
    border-radius: 20px;
}

header h1 {
    font-weight: normal;
    font-size: 52px;
}

.container, section {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;    
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
    margin: 0 auto
}

form button {
    background-color: #8b8b8b;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
}

form input {
    font-size: 24px;
    background-color: #beb9a4;
    border: none;
    padding: 8px;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    color: #fff;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
}

table td {
    color: #252525;
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid rgba(00, 00, 00, 30%);
}

table tfoot th {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: none;
}